<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16946593253-ue38ki6hjhoelma7o3n738pmdtjno0mn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16946593253-ue38ki6hjhoelma7o3n738pmdtjno0mn</string>
	<key>API_KEY</key>
	<string>AIzaSyCwsodVCubEqLEyKBsukvPvEfp7EVP4WWI</string>
	<key>GCM_SENDER_ID</key>
	<string>16946593253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robert.barnabas</string>
	<key>PROJECT_ID</key>
	<string>barnabas-a9438</string>
	<key>STORAGE_BUCKET</key>
	<string>barnabas-a9438.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16946593253:ios:0eec84526f07c20aa5030c</string>
</dict>
</plist>